@media (min-width: 993px) {
  .desktop {
    display: block;
  }
  :root {
    font-size: 27px;
  }
  img.main-phone {
    width: 5.75rem;
    height: 12.5rem;
    max-width: 275px;
    max-height: 600px;
    z-index: 1;
  }
  .hamburger {
    padding: 0.9rem 0.5rem;
    background-image: url(../img/hamburger-background.svg);
    background-size: cover;
  }
  .triangle-desktop {
    height: 35.23rem;
    width: 20.27rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.91%, #7FC7C6), color-stop(0.92%, #7FC7C6), color-stop(100.57%, #298181));
    background: linear-gradient(90deg, #7FC7C6 0.91%, #7FC7C6 0.92%, #298181 100.57%);
    -webkit-box-shadow: 15px 0 5px -5px #fff inset;
            box-shadow: 15px 0 5px -5px #fff inset;
  }
  .triangle-desktop::after, .triangle-desktop::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  .triangle-desktop::before {
    top: 0;
    border-left: 12rem solid white;
    border-bottom: 17.5rem solid transparent;
  }
  .triangle-desktop::after {
    bottom: 0;
    border-left: 20.27rem solid white;
    border-top: 18.7rem solid transparent;
  }
  div.head-screen {
    margin-left: 12vw;
    margin-top: 4rem;
  }
  div.head-screen .head-screen__h1 {
    font-size: 3.4rem;
  }
  div.head-screen .head-screen__h4 {
    font-size: 1.25rem;
    margin-left: -0.75rem;
  }
  div.head-screen div.head-screen__phones {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 1.5rem;
    top: 2rem;
  }
  div.head-screen div.head-screen__phones .desktop img {
    width: 4.6625rem;
    margin-top: 5.5rem;
    margin-right: 1.5rem;
  }
  div.head-screen .head-screen__download-button {
    margin-top: 3.4rem;
  }
  div.why-we {
    margin-left: 5rem;
  }
  div.why-we .why-we__list {
    margin-left: -4.2rem;
    margin-top: 3.3rem;
    -ms-grid-columns: 14rem 14rem;
        grid-template-columns: 14rem 14rem;
  }
  div.why-we .why-we__list a.why-we__list_a {
    font-size: 1rem;
  }
  div.why-we .why-we__phone {
    visibility: hidden;
    top: 28.85rem;
    max-width: 6rem;
  }
  div.make-and-settings {
    overflow: hidden;
    margin-top: 5rem;
    padding-top: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  div.make-and-settings div.description p.description-text {
    margin-top: 0.5rem;
    width: 17rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  div.make-and-settings .make::after, div.make-and-settings .settings::after {
    content: '';
    display: block;
    position: absolute;
    top: 2.5rem;
    left: 48.5vw;
    height: 7.5rem;
    border: 1.5px solid #795547;
  }
  div.make-and-settings .settings::after {
    top: 13rem;
  }
  div.make-and-settings .settings::before {
    content: '';
    display: block;
    position: absolute;
    top: 11.325rem;
    left: calc(48.5vw - 3.58px);
    height: 10px;
    width: 10px;
    background-color: #795547;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  div.make-and-settings div.settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: -0.35rem;
  }
  div.make-and-settings div.settings .settings__description {
    display: block;
    position: absolute;
    bottom: 3.5rem;
    margin-bottom: 0;
  }
  div.make-and-settings div.settings .settings__description .description-text {
    margin-top: -0.75rem;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 10.3rem;
    left: -2rem;
  }
  div.make-and-settings div.settings .settings__img img.settings__img-phone {
    left: 10rem;
    top: 7.5rem;
    width: 5.3rem;
  }
  div.make-and-settings div.settings .settings__img img.settings__img-triangle {
    width: 17.3rem;
  }
  main .interface {
    margin-top: 9rem;
  }
  main .interface .interface__head-text {
    position: relative;
    left: 13rem;
    top: -6.5rem;
  }
  main .interface .interface__features {
    margin-top: -5.5rem;
    margin-left: 0;
    -ms-grid-columns: (6.25rem)[4];
        grid-template-columns: repeat(4, 6.25rem);
    -ms-grid-rows: (10.417rem)[1];
        grid-template-rows: repeat(1, 10.417rem);
    font-size: 0.615rem;
    grid-column-gap: 2rem;
  }
  main .interface::before {
    margin-left: 0;
    left: -7.25rem;
    z-index: -1;
    height: 30.9rem;
    width: 27.4rem;
    background-size: 30.9rem 27.4rem;
  }
  footer .communication {
    margin-top: 4.94rem;
    width: 32rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .communication .communication__head-text {
    font-size: 1.5rem;
  }
  footer .communication p {
    font-size: 0.5rem;
    padding: 0;
    margin: -1.5rem 0 1rem 2.5rem;
    width: 12rem;
  }
  footer .communication form {
    border: none;
  }
  footer .communication form .communication__btn_send-message {
    width: 5rem;
    height: 1.5rem;
  }
  footer .communication .not-triangle {
    width: 21.6rem;
    height: 18.75rem;
    top: -2.965rem;
    left: 2rem;
    right: auto;
  }
  footer .communication .communication__write-us {
    margin-left: 1.6rem;
  }
  footer .communication .communication__write-us .write-us_text {
    margin: 1rem 0 0 1.5rem;
    font-size: 1.1rem;
  }
  footer .communication .communication__write-us .write-us__media-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 0.8rem;
  }
  footer .communication .communication__write-us .write-us__media-list .link-1 {
    margin-left: 1.5rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .communication .communication__write-us .write-us__media-list .link-2 {
    margin-left: 3rem;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  footer .communication .communication__write-us .write-us__media-list .link-3 {
    margin-left: 4.5rem;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  footer .communication .communication__write-us .write-us__media-list .write-us__media-link {
    margin-top: 1.735rem;
  }
  footer::after {
    border-top: 38.49vw solid white;
    border-left: 60vw solid transparent;
  }
  footer::before {
    border-top: 27vw solid white;
    border-right: 50vw solid transparent;
  }
  footer .footer__bottom .footer__bottom_media .footer__bottom_vk img, .footer__bottom_google-play img {
    height: 1rem;
  }
}

@media (min-width: 1160px) {
  :root {
    font-size: 30px;
  }
  .hamburger {
    padding: 0.85rem 0.5rem;
  }
  div.make-and-settings div.settings .settings__description {
    bottom: 2.5rem;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 11rem;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 32.5px;
  }
  .hamburger {
    padding: 0.8rem 0.5rem;
  }
  div.make-and-settings div.settings {
    margin-left: 0.4rem;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 12.5rem;
  }
}

@media (min-width: 1360px) {
  :root {
    font-size: 35px;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 13.5rem;
  }
}

@media (min-width: 1439px) {
  :root {
    font-size: 38px;
  }
  .hamburger {
    padding: 0.8rem 0.55rem;
  }
  div.why-we {
    margin-top: 22vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 14.5rem;
  }
}

@media (min-width: 1599px) {
  :root {
    font-size: 42px;
  }
  .hamburger {
    padding: 0.9rem 0.65rem;
  }
  div.why-we {
    margin-top: 18vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 16.5rem;
  }
}

@media (min-width: 1800px) {
  footer .communication img.not-triangle {
    left: 3.5rem;
  }
}

@media (min-width: 1919px) {
  :root {
    font-size: 48px;
  }
  .hamburger {
    padding: 0.8rem 0.6rem;
  }
  div.why-we {
    margin-top: 18vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 18.5rem;
  }
  footer .communication img.not-triangle {
    left: 7rem;
  }
}
/*# sourceMappingURL=desktop-styles.css.map */