@media (min-width: 993px) {
  .desktop {
    display: block;
  }
  :root {
    font-size: 23px;
  }
  img.main-phone {
    width: 5.75rem;
    height: 12.5rem;
    max-width: 275px;
    max-height: 600px;
    z-index: 1;
  }
  .main-phone,
  .phone,
  .settings__img-phone {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .main-phone:hover, .phone:hover {
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
  }
  .hamburger {
    height: 2.4rem;
    width: 2.4rem;
    background-image: url(../img/hamburger-background.svg);
    background-color: transparent;
    position: fixed;
    background-size: cover;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .hamburger__line_first, .hamburger__line_second, .hamburger__line_third {
    margin-top: 0.35rem;
    margin-left: 0.215rem;
  }
  .triangle-desktop {
    height: 35.23rem;
    width: 23.8rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: -webkit-gradient(linear, left top, right top, color-stop(0.91%, #7FC7C6), color-stop(0.92%, #7FC7C6), color-stop(100.57%, #298181));
    background: linear-gradient(90deg, #7FC7C6 0.91%, #7FC7C6 0.92%, #298181 100.57%);
    -webkit-box-shadow: 15px 0 5px -5px #fff inset;
            box-shadow: 15px 0 5px -5px #fff inset;
  }
  .triangle-desktop::after, .triangle-desktop::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  .triangle-desktop::before {
    top: 0;
    border-left: 14rem solid white;
    border-bottom: 17.25rem solid transparent;
  }
  .triangle-desktop::after {
    bottom: 0;
    border-left: 23.8rem solid white;
    border-top: 18.8rem solid transparent;
  }
  header {
    padding-top: 2rem;
    height: 4.75rem;
    width: 100vw;
    -webkit-transform: translateX(0) translateY(-6rem);
            transform: translateX(0) translateY(-6rem);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fcff), to(#dee4ea));
    background-image: linear-gradient(180deg, #f9fcff 0%, #dee4ea 100%);
  }
  header .header__head {
    margin: 1.25rem auto 0 0.5rem;
    font-size: 1rem;
    width: 5.5rem;
    padding-left: 0.5rem;
  }
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    font-size: 0.64rem;
    top: 0.5rem;
    right: 1.5rem;
  }
  header nav .btn-link {
    border: none;
    margin: 0;
    width: 10.7em;
  }
  header nav .nav__link-small {
    width: 8.1em;
  }
  header nav .nav__active-link {
    width: 10.7em;
    left: 0;
    bottom: 0;
    border-left: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(127, 199, 198, 0.35)), to(rgba(127, 199, 198, 0.7)));
    background: linear-gradient(180deg, rgba(127, 199, 198, 0.35) 0%, rgba(127, 199, 198, 0.7) 100%);
    border-bottom: 0.3rem solid #298181;
    -webkit-transition: height 0.2s 0s, width 0.2s 0.2s, left 0.3s 0.3s;
    transition: height 0.2s 0s, width 0.2s 0.2s, left 0.3s 0.3s;
  }
  header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-size: 0.6rem;
    left: auto;
    right: 2rem;
    bottom: -5%;
  }
  header aside .languages {
    max-height: 1rem;
    margin-top: -0.2rem;
  }
  header aside .header__moonProd {
    margin-top: 0;
    width: 4rem;
  }
  header aside .header__moonProd img {
    top: -1.3rem;
    right: 0.5rem;
  }
  div.head-screen {
    margin-left: 12vw;
    margin-top: 4rem;
  }
  div.head-screen .head-screen__h1 {
    font-size: 3.4rem;
  }
  div.head-screen .head-screen__h4 {
    font-size: 1.25rem;
    margin-left: -0.75rem;
  }
  div.head-screen div.head-screen__phones {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 1.5rem;
    top: 1.75rem;
  }
  div.head-screen div.head-screen__phones .desktop img {
    width: 4.6625rem;
    margin-top: 5.5rem;
    margin-right: 1.5rem;
  }
  div.head-screen .head-screen__download-button {
    margin-top: 3.4rem;
  }
  div.why-we {
    margin-left: 5rem;
  }
  div.why-we .why-we__list {
    margin-left: -4.5rem;
    margin-top: 3.3rem;
    -ms-grid-columns: 16rem 16.75rem;
        grid-template-columns: 16rem 16.75rem;
  }
  div.why-we .why-we__list .why-we__list_link {
    font-size: 1rem;
  }
  div.why-we .why-we__phone {
    visibility: hidden;
    top: 28.85rem;
    max-width: 6rem;
  }
  div.make-and-settings {
    overflow: hidden;
    margin-top: 5rem;
    padding-top: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  div.make-and-settings div.description p.description-text {
    margin-top: 0.5rem;
    width: 18.5rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  div.make-and-settings .make::after, div.make-and-settings .settings::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 47vw;
    height: 7.5rem;
    width: 3.5px;
    background-color: #795547;
  }
  div.make-and-settings .settings::after {
    top: 12rem;
  }
  div.make-and-settings .settings::before {
    content: '';
    display: block;
    position: absolute;
    top: 10.325rem;
    left: calc(47vw - 3.5px);
    height: 10px;
    width: 10px;
    background-color: #795547;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  div.make-and-settings div.settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: -0.35rem;
  }
  div.make-and-settings div.settings .settings__description {
    display: block;
    position: absolute;
    bottom: 8rem;
    margin-bottom: 0;
  }
  div.make-and-settings div.settings .settings__description .description-text {
    margin-top: -0.75rem;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 10.3rem;
    left: -2rem;
  }
  div.make-and-settings div.settings .settings__img img.settings__img-phone {
    left: 10rem;
    top: 7.5rem;
    width: 5.3rem;
  }
  div.make-and-settings div.settings .settings__img .settings__img-phone:hover {
    -webkit-transform: translateX(-0.25rem);
            transform: translateX(-0.25rem);
  }
  div.make-and-settings div.settings .settings__img img.settings__img-triangle {
    width: 17.3rem;
  }
  main .interface {
    margin-top: 5.5rem;
  }
  main .interface .interface__head-text {
    position: relative;
    left: 13rem;
    top: -6.5rem;
  }
  main .interface .interface__features {
    margin-top: -5.5rem;
    margin-left: 0;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    font-size: 0.615rem;
    grid-column-gap: 2rem;
  }
  main .interface .interface__features li {
    width: 6.25rem;
  }
  main .interface::before {
    margin-left: 0;
    left: -7rem;
    z-index: -1;
    height: 30.9rem;
    width: 27.4rem;
    background-size: 30.9rem 27.4rem;
  }
  footer .communication {
    margin-top: 4.94rem;
    width: 32rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .communication .communication__head-text {
    font-size: 1.5rem;
  }
  footer .communication p {
    font-size: 0.5rem;
    padding: 0;
    margin: -1.5rem 0 1rem 2.5rem;
    width: 12rem;
  }
  footer .communication form {
    border: none;
  }
  footer .communication form .communication__btn_send-message {
    width: 5rem;
    height: 1.5rem;
  }
  footer .communication .not-triangle {
    width: 21.6rem;
    height: 18.75rem;
    top: -2.975rem;
    left: 2rem;
    right: auto;
  }
  footer .communication .communication__write-us {
    margin-left: 1.6rem;
  }
  footer .communication .communication__write-us .write-us_text {
    margin: 1rem 0 0 1.5rem;
    font-size: 1.1rem;
  }
  footer .communication .communication__write-us .write-us__media-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 0.8rem;
  }
  footer .communication .communication__write-us .write-us__media-list .link-1 {
    margin-left: 1.5rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer .communication .communication__write-us .write-us__media-list .link-2 {
    margin-left: 3rem;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  footer .communication .communication__write-us .write-us__media-list .link-3 {
    margin-left: 4.5rem;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  footer .communication .communication__write-us .write-us__media-list .write-us__media-link {
    margin-top: 1.735rem;
  }
  footer::after {
    border-top: 38.49vw solid white;
    border-left: 60vw solid transparent;
  }
  footer::before {
    border-top: 27vw solid white;
    border-right: 50vw solid transparent;
  }
  footer .footer__bottom .footer__bottom_media .footer__bottom_vk img, .footer__bottom_google-play img {
    height: 1rem;
  }
}

@media (min-width: 1160px) {
  :root {
    font-size: 26px;
  }
  .hamburger {
    padding: 0.85rem 0.5rem;
  }
  div.make-and-settings div.settings .settings__description {
    bottom: 5rem;
  }
  main .interface {
    margin-top: 8.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 29px;
  }
  .hamburger {
    padding: 0.8rem 0.5rem;
  }
  div.make-and-settings div.settings {
    margin-left: 0.4rem;
  }
  div.make-and-settings div.settings .settings__description {
    bottom: 2.5rem;
  }
  div.make-and-settings .make::after,
  div.make-and-settings .settings::after {
    left: 48vw;
  }
  div.make-and-settings .settings::before {
    left: calc(48vw - 3.58px);
  }
  main .interface {
    margin-top: 10rem;
  }
}

@media (min-width: 1360px) {
  :root {
    font-size: 31px;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 11rem;
  }
}

@media (min-width: 1439px) {
  :root {
    font-size: 34px;
  }
  .hamburger {
    padding: 0.8rem 0.55rem;
  }
  div.why-we {
    margin-top: 22vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 13rem;
  }
  div.make-and-settings .make::after,
  div.make-and-settings .settings::after {
    left: 49vw;
  }
  div.make-and-settings .settings::before {
    left: calc(49vw - 3.58px);
  }
}

@media (min-width: 1599px) {
  :root {
    font-size: 38px;
  }
  .hamburger {
    padding: 0.9rem 0.65rem;
  }
  div.why-we {
    margin-top: 18vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 15rem;
  }
  div.make-and-settings div.settings .settings__description {
    bottom: 3rem;
  }
}

@media (min-width: 1800px) {
  div.make-and-settings .make::after,
  div.make-and-settings .settings::after {
    left: 49vw;
  }
  div.make-and-settings .settings::before {
    left: calc(49vw - 3.58px);
  }
  footer .communication img.not-triangle {
    left: 3.5rem;
  }
}

@media (min-width: 1919px) {
  :root {
    font-size: 44px;
  }
  .hamburger {
    padding: 0.8rem 0.6rem;
  }
  div.why-we {
    margin-top: 18vh;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 17rem;
  }
  footer .communication img.not-triangle {
    left: 7rem;
  }
}
/*# sourceMappingURL=desktop-styles.css.map */