
@media (min-width: 993px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }     
    html {
        font-size: 23px;
    }
    img.main-phone {
        width: 5.75rem;
        height: 12.5rem;
        max-width: 275px;
        max-height: 600px;
        z-index: 1;
    }


    header {
        padding-top: 2rem;
        font-size: 1.75rem;
        display: flex;
        background-image: linear-gradient(180deg, var(--main-light-color-first) 0%, rgba(55, 45, 166, 0.5) 100%);
        .header__head {
            margin: .5em 0 0 1.5em;
        }
        nav {
            font-size: .75rem;
            margin-left: .25rem;
            ul {
                text-align: center;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 1.5em;
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: .5em;
                .header__nav_list-link {
                    margin: 0;
                }
                .header__nav_list-link:not(.nav__active-link):hover
                > .nav__link::before{
                    width: 1em;
                    height: 1em;
                    border-width: .08em;
                }
            }
        }
        aside {
            display: flex;
            bottom: auto;
            top: 2.5rem;
            right: 2.5rem;
            flex-direction: column-reverse;
            font-size: 0.8rem;
            .languages {
                margin-top: 1.25em;
            }
            .arrow-down_languages {
                display: block;
                position: absolute;
                font-size: .85em;
                top: 5.6em;
                left: 3em;
                transition: .2s;
            }

            .header__moonProd {
                margin: 0;
                margin-left: .5em;
            }
        }
    }


    div.head-screen {
        margin-left: 4.67rem;
        margin-top: 4rem;
        .head-screen__triangle {
            top: 2rem;
            right: -7.5rem;
            width: 26rem;
            transform: rotate(55deg);
        }
        .head-screen__h1 {
            font-size: 3.4rem;
            .head-screen__moon-svg_img {
                right: 1.5rem;
            }
        }
        .head-screen__h4 {
            font-size: 1.25rem;
        }

        .head-screen__phones {
            position: absolute;
            right: 12rem;
            top: 4rem;
            .head-scr {
                display: block;
                position: relative;
                z-index: 10;
                height: 15rem;
                margin-bottom: -15rem;
            }
            .head-screen__phones_blur {
                position: relative;
                z-index: 5;
                img {
                    display: block;
                    position: absolute;
                }
                @for $i from 1 through 3 {
                    .head-screen__phone-blur-#{$i} {
                        height: 15rem + .1667rem * $i; 
                        right: -.4rem * $i;
                        top: -.1rem * $i;
                        opacity: 0;
                        filter: blur(1.5px * $i);
                    }
                    .head-screen__phones_blur-visible-#{$i} {
                        opacity: 1 / $i;
                    }
                }
            }
        }

        .head-screen__download-button {
            margin-top: 4rem;
            margin-left: 1.75rem;
        }
    }
    main .head-screen::after {
        width: 11rem;
        height: 11rem;
        top: 11.65rem;
        left: 23rem;
        transform: rotate(45deg);
    }


    div.why-we {
        margin-top: 7.5rem;
        margin-left: 1.85rem;
        .why-we__h3 {
            margin-left: 3.33rem;
        }
        .why-we__list {
            grid-template-columns: 16rem 16.75rem;
            grid-row-gap: 2.5rem;
            li {
                padding-top: .5rem;
                font-size: 1rem;
            }
        }
        .why-we__phone {
            top: 6rem;
            right: 3rem;
            max-width: 6rem;
            transition: opacity 1s;
        }
    }

    div.why-we__semicircle-top {
        right: -2rem;
        top: 3rem;
        height: 9rem;
        width: 15.3rem;
        background-image: linear-gradient(270deg, var(--main-dark-color-second) 0%, var(--main-light-color-first) 100%);
        transform: rotate(60deg);
    }

    p.description-text {
        font-size: 0.625rem;
    }
    div.make-and-settings {
        margin-left: 1.85rem;
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr;
        .make__object-svg {
            top: 8.25rem;
            left: -1.12rem;
        }
        p.description-text {
            width: 18.5rem;
        }
        .make__img {
            margin: 1.5rem 5.55rem 0;
        }
        .make::after, .settings::after {
            content: '';
            display: block;
            position: absolute;
            top: 1.5rem;
            left: 45vw;
            height: 7.5rem;
            width: 3.5px;
            background-color: var(--main-dark-color-first);
            border-radius: 10px;
        }
        .settings::after {
            top: 12rem;
        }
        .settings::before {
            content: '';
            display: block;
            position: absolute;
            top: 10.325rem;
            left: calc(45vw - .125rem);
            height: .35rem;
            width: .35rem;
            background-color: var(--main-dark-color-first);
            border-radius: 100%;
        }

        div.settings {
            flex-direction: column-reverse;
            .settings__description {
                display: block;
                position: absolute;
                margin-bottom: 0;
                bottom: 1rem;
            }
            .settings__img {
                top: -8.5rem;
                left: 2rem;
                .settings__object-svg {
                    top: -1rem;
                    left: -1rem;
                    width: 16.5rem;
                }
                img.settings__img-phone {
                    width: 5.3rem;
                }
            }
        }
    }
    
    
    
    
    
    div.possibilities {
        margin-top: 7rem;
        .possibilities__head-text {
            margin-left: auto;
            margin-right: 3.33rem;
        }
        .possibilities__slider {
            position: static;
            grid-auto-flow: column;
            .possibilities__texts li {
                font-size: .625rem;
                margin-left: -2.5rem;
            }
        }
        .possibilities__texts[data-position="right"] {
            margin-left: 1.5rem;
        }
    }
    .slider-left, .slider-right {
        position: static;
    }


    div.faq .faq__search {
        top: -13rem;
        margin-right: 3.33rem;
        width: 12rem;
        height: 2rem;
        .faq__input-search {
            height: 1.75rem;
        }
        .faq__search-btn {
            width: 2.5rem;
            height: 1.85rem;
        }
    }

    div.faq .faq__list {
        margin-top: -13rem;
        margin-left: 18rem;
    }


    footer {
        .communication {
            margin-top: 4.94rem;
            width: 32rem;
            flex-direction: row;
            .communication__head-text {
                font-size: 1.5rem;
            }
            p {
                font-size: 0.5rem;
                padding: 0;
                margin: -1.5rem 0 1rem 2.5rem;
                width: 12rem;
            }
            form {
                border: none;
                .communication__btn_send-message {
                    width: 5rem;
                    height: 1.5rem;
                }
            }

            .footer__not-circle {
                width: 18.5rem;
                bottom: -1.865rem;
            }
            .communication__write-us {
                margin-left: 1.6rem;
                .write-us_text {
                    margin: 1rem 0 0 1.5rem;
                    font-size: 1.1rem;
                }
                .write-us__media-list {
                    flex-direction: column-reverse;
                    margin-top: -.2rem;
                    margin-left: .2rem;
                    font-size: 0.85rem;
                    i {
                        display: inline-block;
                        font-size: 1rem;
                        vertical-align: middle;
                    }
                    .write-us__media-link {
                        margin-top: 1.735rem;
                    }
                    .write-us__vk {
                        margin-left: .4rem;
                    }
                    .write-us__email {
                        margin-left: -.85rem;
                    }
                }
            }
        }
    }


    footer .footer__bottom .footer__bottom_media .footer__bottom_vk, .footer__bottom_google-play {
        img {
            height: 1rem;
        }
    }
}


@media (min-width: 1160px) {
    html {
        font-size: 26px;
    }
} 
@media (min-width: 1280px) {
    html {
        font-size: 29px;
    }
}
@media (min-width: 1360px) {
    html {
        font-size: 31px;
    }
    div.make-and-settings div.settings .settings__img {
        bottom: 11rem;
    }
}
@media (min-width: 1439px) {
    html {
        font-size: 34px;
    }
    footer .communication .footer__not-circle {
        width: 19.1rem;
        bottom: -1.95rem;
    }
}
@media (min-width: 1599px) {
    html {
        font-size: 38px;
    }
    footer .communication .footer__not-circle {
        width: 18.825rem;
        bottom: -1.9rem;
    }
}

@media (min-width: 1919px) {
    html {
        font-size: 44px;
    }
    div.make-and-settings div.settings .settings__img {
        bottom: 17rem;
    }
}