.input_text::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.input_text:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.hamburger__line_first,
.hamburger__line_second,
.hamburger__line_third {
  -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
  transition: top .3s .3s, -webkit-transform .3s 0s;
  transition: top .3s .3s, transform .3s 0s;
  transition: top .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
}

.hamburger.menu-clicked .hamburger__line_first,
.hamburger.menu-clicked .hamburger__line_second,
.hamburger.menu-clicked .hamburger__line_third {
  top: 1.05rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: top .3s 0s, -webkit-transform .3s .3s;
  transition: top .3s 0s, -webkit-transform .3s .3s;
  transition: top .3s 0s, transform .3s .3s;
  transition: top .3s 0s, transform .3s .3s, -webkit-transform .3s .3s;
}

.hamburger.menu-clicked .hamburger__line_third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-up {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn-up .btn-up__arrow {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn-up:hover {
  height: 3rem;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.btn-up:hover .btn-up__arrow {
  height: 2rem;
}

.btn-up:active {
  border-width: 3px;
}

.head-screen__download-button {
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.head-screen__download-button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.head-screen__download-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.communication__btn_send-message:hover {
  color: #fff;
}

.communication__btn_send-message:hover .communication__btn_send-message__before {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  z-index: -999;
}

.communication__btn_send-message:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (min-width: 993px) {
  @-webkit-keyframes head-screen-scale {
    0% {
      height: 15.5001rem;
      right: -1.2rem;
      top: -0.3rem;
    }
    100% {
      top: 0;
      right: 0;
      height: 15rem;
    }
  }
  @keyframes head-screen-scale {
    0% {
      height: 15.5001rem;
      right: -1.2rem;
      top: -0.3rem;
    }
    100% {
      top: 0;
      right: 0;
      height: 15rem;
    }
  }
  .head-screen__phones > .desktop {
    -webkit-animation: head-screen-scale 2s linear;
            animation: head-screen-scale 2s linear;
  }
}
/*# sourceMappingURL=animations.css.map */