// плавное исчезновение placeholder для различных браузеров
.input_text::-webkit-input-placeholder       {opacity: 1; transition: opacity .5s ease;}
.input_text::-moz-placeholder                {opacity: 1; transition: opacity .5s ease;}
.input_text:-moz-placeholder                 {opacity: 1; transition: opacity .5s ease;}
.input_text:-ms-input-placeholder            {opacity: 1; transition: opacity .5s ease;}
.input_text:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .5s ease;}
.input_text:focus::-moz-placeholder          {opacity: 0; transition: opacity .5s ease;}
.input_text:focus:-moz-placeholder           {opacity: 0; transition: opacity .5s ease;}
.input_text:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .5s ease;}


// Hamburger animation
.hamburger__line_first,
.hamburger__line_second,
.hamburger__line_third {
    // Время анимации по 2-му клику
    // transition: property duration delay;
    transition: top .3s .3s, transform .3s 0s;
}

.hamburger.menu-clicked .hamburger__line_first,
.hamburger.menu-clicked .hamburger__line_second,
.hamburger.menu-clicked .hamburger__line_third {
    top: 1.05rem;
    transform: rotate(45deg);
    transition-delay: 0s;
    transition: top .3s 0s, transform .3s .3s; // время выполнения по 1-му клику
}

.hamburger.menu-clicked .hamburger__line_third {
    transform: rotate(-45deg);
}


// Arrow up animation
.btn-up {
    transition: .2s ease-in-out;
    .btn-up__arrow {
        transition: .2s ease-in-out;
    }
}

.btn-up:hover {
    height: 3rem;
    transform: translateY(.25rem);
    
    .btn-up__arrow {
        height: 2rem;
    }
}
.btn-up:active {
    border-width: 3px;
}



// Download button (head screen)
.head-screen__download-button {
    transition: transform .1s;
}
.head-screen__download-button:hover {
    transform: scale(1.01);
}
.head-screen__download-button:active {
    transform: scale(.99);
}




// Footer send button
.communication__btn_send-message:hover {
    color: #fff;
}

.communication__btn_send-message:hover .communication__btn_send-message__before {
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    z-index: -999;
}

.communication__btn_send-message:active {
    transform: scale(0.95);
}