// плавное исчезновение placeholder для различных браузеров
.input_text::-webkit-input-placeholder       {opacity: 1; transition: opacity .5s ease;}
.input_text::-moz-placeholder                {opacity: 1; transition: opacity .5s ease;}
.input_text:-moz-placeholder                 {opacity: 1; transition: opacity .5s ease;}
.input_text:-ms-input-placeholder            {opacity: 1; transition: opacity .5s ease;}
.input_text:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .5s ease;}
.input_text:focus::-moz-placeholder          {opacity: 0; transition: opacity .5s ease;}
.input_text:focus:-moz-placeholder           {opacity: 0; transition: opacity .5s ease;}
.input_text:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .5s ease;}

.arrow-down_languages {
    transition: .2s;
}
.languages:focus + .arrow-down_languages {
    transform: translateY(-.075em) scaleY(-1);
}


// Hamburger animation
.hamburger__line_first,
.hamburger__line_second,
.hamburger__line_third {
    // Время анимации по 2-му клику
    // transition: property duration delay;
    transition: top .3s .3s, transform .3s 0s;
}

.hamburger.menu-clicked .hamburger__line_first,
.hamburger.menu-clicked .hamburger__line_second,
.hamburger.menu-clicked .hamburger__line_third {
    top: 1.05rem;
    transform: rotate(45deg);
    transition-delay: 0s;
    transition: top .3s 0s, transform .3s .3s; // время выполнения по 1-му клику
}

.hamburger.menu-clicked .hamburger__line_third {
    transform: rotate(-45deg);
}


// Arrow up animation
.btn-up {
    transition: .3s ease-in-out;
    .btn-up__arrow {
        transition: .3s ease-in-out;
    }
}

.btn-up:active {
    height: 3rem;
    transform: translateY(.25rem);
    .btn-up__arrow {
        height: 2rem;
    }
}
.btn-up-hidden {
    opacity: 0;
}


.container {
    transition: .6s cubic-bezier(.4, 0, .4, 1), height 5s 5s;
}
.container-translated {
    overflow: hidden;
    border-radius: 5rem;
    filter: brightness(80%) blur(1px);
}



// Download button (head screen)
.head-screen__download-button {
    transition: transform .1s;
}
.head-screen__download-button:hover {
    transform: scale(1.01);
}
.head-screen__download-button:active {
    transform: scale(.99);
}




// Footer send button
.communication__btn_send-message:hover {
    color: #fff;
}

.communication__btn_send-message:hover .communication__btn_send-message__before {
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    z-index: -999;
}

.communication__btn_send-message:active {
    transform: scale(0.95);
}


@media (max-width: 992px) {
    .container-translated {
        top: 5rem;
        transform: translateX(13rem) rotate3d(0, -2, .01, 30deg);
    }
}
@media  (min-width: 993px) {
    @keyframes head-screen-scale {
        0% {
            height: 15.668rem;
            right: -1.5rem;
            top: -0.3rem;
        }
        100% {
            top: 0;
            right: 0;
            height: 15rem;
        }
    }
    .head-screen__phones > .head-scr {
        animation: head-screen-scale 3s cubic-bezier(0,.3,.6,1);
    }
    div.head-screen__phones > div.head-screen__phones_blur {
        @for $i from 1 through 3 {
            .head-screen__phones_blur-visible-#{$i} {
                transition: $i * 1.5s, 1.5s * (1 / $i);
            }
        }
    }
    div.head-screen__phones:hover > div.head-screen__phones_blur {
        @for $i from 1 through 3 {
            .head-screen__phones_blur-visible-#{$i} {
                opacity: 0;
                height: 15rem;
                top: 0;
                right: 0;
            }
        }
    }
    .container-translated {
        transform: perspective(100rem) scale3d(.95, .95, 1) rotateX(7.5deg);
    }
}