.hamburger {
  display: block;
  position: fixed;
  background-image: radial-gradient(circle, #fff 0%, #fbfbfb 100%);
  border: 0.1rem solid var(--invisible-color);
  border-radius: 100%;
  padding: 1.1rem 1.1rem;
  top: .1rem;
  left: .1rem;
  z-index: 999;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.hamburger .hamburger__line_first,
.hamburger .hamburger__line_second,
.hamburger .hamburger__line_third {
  display: block;
  position: absolute;
  width: 1.25rem;
  top: 1.05rem;
  left: .5rem;
  height: .1rem;
  background: #000;
}

.hamburger .hamburger__line_first {
  top: .65rem;
}

.hamburger .hamburger__line_third {
  top: 1.45rem;
}

.hamburger:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.1rem 0.01rem var(--invisible-color);
          box-shadow: 0 0 0.1rem 0.01rem var(--invisible-color);
}

.btn-up {
  display: block;
  position: fixed;
  z-index: 999;
  bottom: .5rem;
  left: .5rem;
  width: 1.667rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--main-light-color-first);
  border-radius: 1rem;
  cursor: pointer;
}

.btn-up .btn-up__arrow {
  display: block;
  position: relative;
  width: .1rem;
  height: 1.5rem;
  top: calc(50% - 1rem);
  left: calc(50% - .005rem);
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(var(--main-light-color-first)));
  background-image: linear-gradient(0deg, transparent 0%, var(--main-light-color-first) 100%);
  border-radius: .75rem;
}

.btn-up .btn-up__arrow::before,
.btn-up .btn-up__arrow::after {
  content: '';
  display: block;
  position: absolute;
  width: .1rem;
  height: .5rem;
  top: -.01rem;
  border-radius: .75rem;
  background-color: var(--main-light-color-first);
}

.btn-up .btn-up__arrow::before {
  left: -.125rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.btn-up .btn-up__arrow::after {
  left: .125rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.btn-up:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.25rem 0 var(--main-dark-color-first);
          box-shadow: 0 0 0.25rem 0 var(--main-dark-color-first);
}

.head-screen__download-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  width: 12rem;
  height: 3rem;
  background-image: radial-gradient(50% 50% at 50% 50%, #F2CD01 0%, var(--main-light-color-second) 100%);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 4.8rem var(--main-light-color-second);
          box-shadow: 0px 0px 4.8rem var(--main-light-color-second);
  cursor: pointer;
  font-size: 1rem;
  color: #1c1c1c;
}

.head-screen__download-button i {
  font-size: 1.5rem;
  margin-right: .5rem;
  margin-left: -.1rem;
}

.head-screen__download-button span {
  margin-left: .2rem;
}

.possibilities__slider-btn {
  position: absolute;
  background: none;
  border: none;
  height: 3.25rem;
  cursor: pointer;
  opacity: 0.25;
}

.possibilities__slider-btn img {
  height: 3.25rem;
}

.slider-left {
  left: -4rem;
}

.slider-right {
  right: -4rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.faq__search-btn {
  display: block;
  position: absolute;
  right: 0;
  top: -.1rem;
  border: none;
  border-left: 0.15rem solid var(--main-light-color-first);
  background: none;
  cursor: pointer;
  width: 2rem;
  height: 1.3rem;
  padding-right: .3rem;
  padding-top: .1rem;
  color: var(--description-text-color);
  font-size: .95rem;
}

.faq__search-btn:hover {
  font-size: 1rem;
}

.faq__search-btn:focus {
  outline: none;
}

.faq__search-btn:active {
  font-size: .95rem;
}

.question__show-more {
  margin-top: .05rem;
  opacity: .25;
  margin-right: .3rem;
  height: 1rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}

.question__show-more:hover,
.possibilities__slider-btn:hover {
  opacity: .5;
}

.question__show-more:active,
.possibilities__slider-btn:active {
  opacity: .75;
}

.question__show-more:focus,
.possibilities__slider-btn:focus {
  outline: none;
}

.communication__btn_send-message {
  display: block;
  position: relative;
  z-index: 999;
  margin-top: -.33rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 2px solid var(--main-dark-color-first);
  color: #000;
  cursor: pointer;
  width: 6.5rem;
  height: 2rem;
  -webkit-box-shadow: 0px 0px 0.33rem rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 0.33rem rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  font-size: .6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.communication__btn_send-message__before {
  display: block;
  position: absolute;
  background-color: var(--main-dark-color-first);
  width: 0;
  height: 0;
  border-radius: 1.5rem;
  top: 50%;
  left: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (min-width: 993px) {
  .head-screen__download-button {
    margin-top: 4rem;
  }
  .slider-left, .slider-right {
    position: static;
  }
  .faq__search-btn {
    width: 2.5rem;
    height: 1.85rem;
  }
}
/*# sourceMappingURL=buttons.css.map */