@media (min-width: 993px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  :root {
    font-size: 23px;
  }
  img.main-phone {
    width: 5.75rem;
    height: 12.5rem;
    max-width: 275px;
    max-height: 600px;
    z-index: 1;
  }
  header {
    padding-top: 2rem;
    font-size: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__head {
    margin: .5em 0 0 1.5em;
  }
  header nav {
    font-size: .75rem;
    margin-left: .25rem;
  }
  header nav ul {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5em;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: .5em;
  }
  header nav ul .header__nav_list-link {
    margin: 0;
  }
  header nav ul .header__nav_list-link:not(.nav__active-link):hover
> .nav__link::before {
    width: 1em;
    height: 1em;
    border-width: .08em;
  }
  header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: auto;
    top: 2.5rem;
    right: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 0.8rem;
  }
  header aside .languages {
    margin-top: 1.25em;
  }
  header aside .header__moonProd {
    margin: 0;
    margin-left: .5em;
  }
  div.head-screen {
    margin-left: 4.67rem;
    margin-top: 4rem;
  }
  div.head-screen .head-screen__triangle {
    top: 2rem;
    right: -7.5rem;
    width: 26rem;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  div.head-screen .head-screen__h1 {
    font-size: 3.4rem;
  }
  div.head-screen .head-screen__h1 .head-screen__moon-svg_img {
    right: 2.2rem;
  }
  div.head-screen .head-screen__h4 {
    font-size: 1.25rem;
  }
  div.head-screen .head-screen__phones {
    position: absolute;
    right: 12rem;
    top: 4rem;
  }
  div.head-screen .head-screen__phones .head-scr {
    display: block;
    position: relative;
    z-index: 10;
    height: 15rem;
    margin-bottom: -15rem;
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur {
    position: relative;
    z-index: 5;
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur img {
    display: block;
    position: absolute;
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phone-blur-1 {
    height: 15.1667rem;
    right: -0.4rem;
    top: -0.1rem;
    opacity: 0;
    -webkit-filter: blur(1.5px);
            filter: blur(1.5px);
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phones_blur-visible-1 {
    opacity: 1;
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phone-blur-2 {
    height: 15.3334rem;
    right: -0.8rem;
    top: -0.2rem;
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phones_blur-visible-2 {
    opacity: 0.5;
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phone-blur-3 {
    height: 15.5001rem;
    right: -1.2rem;
    top: -0.3rem;
    opacity: 0;
    -webkit-filter: blur(4.5px);
            filter: blur(4.5px);
  }
  div.head-screen .head-screen__phones .head-screen__phones_blur .head-screen__phones_blur-visible-3 {
    opacity: 0.33333;
  }
  main .head-screen::after {
    width: 11rem;
    height: 11rem;
    top: 11.5rem;
    left: 23rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  div.why-we {
    margin-top: 7.5rem;
    margin-left: 1.85rem;
  }
  div.why-we .why-we__h3 {
    margin-left: 3.33rem;
  }
  div.why-we .why-we__list {
    -ms-grid-columns: 16rem 16.75rem;
        grid-template-columns: 16rem 16.75rem;
    grid-row-gap: 2.5rem;
  }
  div.why-we .why-we__list li {
    padding-top: .5rem;
    font-size: 1rem;
  }
  div.why-we .why-we__phone {
    top: 3rem;
    right: 3rem;
    max-width: 6rem;
  }
  div.why-we::before {
    right: -2rem;
    top: 3rem;
    height: 9rem;
    width: 15.3rem;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  div.why-we::after {
    display: none;
  }
  p.description-text {
    font-size: 0.625rem;
  }
  div.make-and-settings {
    margin-left: 1.85rem;
    margin-top: 4rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  div.make-and-settings .make__object-svg {
    top: 8.25rem;
    left: -1.12rem;
  }
  div.make-and-settings p.description-text {
    width: 18.5rem;
  }
  div.make-and-settings .make__img {
    margin: 1.5rem 5.55rem 0;
  }
  div.make-and-settings .make::after, div.make-and-settings .settings::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 45vw;
    height: 7.5rem;
    width: 3.5px;
    background-color: var(--main-dark-color-first);
    border-radius: 10px;
  }
  div.make-and-settings .settings::after {
    top: 12rem;
  }
  div.make-and-settings .settings::before {
    content: '';
    display: block;
    position: absolute;
    top: 10.325rem;
    left: calc(45vw - 1.75px);
    height: .35rem;
    width: .35rem;
    background-color: var(--main-dark-color-first);
    border-radius: 100%;
  }
  div.make-and-settings div.settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  div.make-and-settings div.settings .settings__description {
    display: block;
    position: absolute;
    margin-bottom: 0;
    bottom: 1rem;
  }
  div.make-and-settings div.settings .settings__img {
    top: -8.5rem;
    left: 2rem;
  }
  div.make-and-settings div.settings .settings__img .settings__object-svg {
    top: -1rem;
    left: -1rem;
    width: 16.5rem;
  }
  div.make-and-settings div.settings .settings__img img.settings__img-phone {
    width: 5.3rem;
  }
  div.possibilities {
    margin-top: 7rem;
  }
  div.possibilities .possibilities__head-text {
    margin-left: auto;
    margin-right: 3.33rem;
  }
  div.possibilities .possibilities__slider {
    position: static;
    grid-auto-flow: column;
  }
  div.possibilities .slider_right-text {
    margin-left: 1.5rem;
  }
  div.faq .faq__search {
    top: -13rem;
    margin-right: 3.33rem;
    width: 12rem;
    height: 2rem;
  }
  div.faq .faq__search .faq__search-text {
    height: 1.75rem;
  }
  div.faq .faq__list {
    margin-top: -13rem;
    margin-left: 18rem;
  }
  footer .communication {
    margin-top: 4.94rem;
    width: 32rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .communication .communication__head-text {
    font-size: 1.5rem;
  }
  footer .communication p {
    font-size: 0.5rem;
    padding: 0;
    margin: -1.5rem 0 1rem 2.5rem;
    width: 12rem;
  }
  footer .communication form {
    border: none;
  }
  footer .communication form .communication__btn_send-message {
    width: 5rem;
    height: 1.5rem;
  }
  footer .communication .footer__not-circle {
    width: 18.5rem;
    bottom: -1.875rem;
    left: 1rem;
  }
  footer .communication .communication__write-us {
    margin-left: 1.6rem;
  }
  footer .communication .communication__write-us .write-us_text {
    margin: 1rem 0 0 1.5rem;
    font-size: 1.1rem;
  }
  footer .communication .communication__write-us .write-us__media-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: -.735rem;
    font-size: 0.85rem;
  }
  footer .communication .communication__write-us .write-us__media-list i {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
  }
  footer .communication .communication__write-us .write-us__media-list .write-us__media-link {
    margin-top: 1.735rem;
  }
  footer .communication .communication__write-us .write-us__media-list .write-us__vk {
    margin-left: 1rem;
  }
  footer .footer__bottom .footer__bottom_media .footer__bottom_vk img, .footer__bottom_google-play img {
    height: 1rem;
  }
}

@media (min-width: 1160px) {
  :root {
    font-size: 26px;
  }
}

@media (min-width: 1280px) {
  :root {
    font-size: 29px;
  }
}

@media (min-width: 1360px) {
  :root {
    font-size: 31px;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 11rem;
  }
}

@media (min-width: 1439px) {
  :root {
    font-size: 34px;
  }
  footer .footer__not-circle {
    width: 18.25rem;
    bottom: -2rem;
    left: 1rem;
  }
}

@media (min-width: 1599px) {
  :root {
    font-size: 38px;
  }
}

@media (min-width: 1919px) {
  :root {
    font-size: 44px;
  }
  div.make-and-settings div.settings .settings__img {
    bottom: 17rem;
  }
}
/*# sourceMappingURL=desktop-styles.css.map */