@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
*, ::after, ::before {
   box-sizing: border-box;
   list-style-type: none;
   
}

:root {
   font-size: 28px;
   font-family: 'Roboto', sans-serif;
   --main-dark-color-first: #372DA6; 
   --main-dark-color-second: #354FC4; 
   --main-light-color-first: #D93FEB; 
   --main-light-color-second: #F9F047;
   --invisible-color: #dbdbdb;
   --description-text-color: #2f2f2f; 
}
html, body {
   color: #000;
   max-width: 100vw;
   overflow-x: hidden;
}


.a, .a:hover, .a:active { // во избежание !important
   text-decoration: none;
   color: #000;
}
.btn-link {
   background: none;
   border: none;
   cursor: pointer;
}


.MyDiary_logo {
   width: 1rem;
   height: 1rem;
   border-radius: .15rem;
}
.MyDiary {
   font-family: 'Roboto Condensed', sans-serif;
}



.rotated-screen {
   display: block;
   transform: perspective(20rem) rotateY(-45deg);
   box-shadow: 0 0 .4rem var(--main-dark-color-first);
   border-radius: .65rem;
}
.desktop {
   display: none;
}
img.main-phone {
   width: 8.5rem;
   height: 20rem;
   max-width: 245px;
   max-height: 590px;
}



header {
   font-size: 2.5rem;
   padding-top: 3rem;
   background-image: linear-gradient(90deg, #D93FEB 0%, rgba(55, 45, 166, 0.5) 100%);
   position: fixed;
   overflow: hidden;
   z-index: -99;
   height: 100vh;
   width: 100vw;
   .header__head {
      display: block;
      color: #fff;
      font-size: inherit;
      margin: 0 0 .4em 1em;
      .header_logo {
         margin-bottom: .25em;
         vertical-align: middle;
         border-radius: .16em;
         width: 1.6em;
         height: 1.6em;
      }
   }
   .header__head:hover {
      color: #fff;
   }
   nav { 
      margin-left: -1em;
      font-size: 1.2rem;
      .header__nav_list-link {
         position: relative;
         margin: 1em 0;
         padding: .5em 0;
         .nav__link, .nav__link:active, .nav__link:focus {
            position: relative;
            padding: 0 .4em .4em;
            color: #fff;
         }
         .nav__link::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 0 solid var(--main-light-color-second);
            border-top: none;
            border-left: none;
            border-radius: 0 0 .625em 0;
            box-shadow: .1em .167em .167em rgba(0, 0, 0, 0.25);
            transition: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
         }
      }
      
      .nav__active-link > .nav__link::before {
         width: 100%;
         height: 1.375em;
         border-width: .08em;
      }
   }
   aside {
      display: flex;
      position: absolute;
      bottom: 5%;
      font-size: 1.2rem;
      margin-left: .8em;
      .languages {
         position: relative;
         border: 1px solid var(--invisible-color);
         border-radius: .417em;
         padding: .417em;
         max-height: 2em;
         width: 3.5em;
         appearance: none;
         background: #fff url(../../img/select-btn.svg) 90% center no-repeat;
         background-size: .625em;

      }
      
      .header__moonProd {
         display: block;
         margin-top: -.2em;
         margin-left: 3.33em;
         img {
            width: 2.5em;
         }
      }
   }
}


.container {
   position: absolute;
   top: -.5rem;
   left: -.5rem;
   padding: .5rem 0 0 .5rem;
   margin-top: 0;
   z-index: 0;
   background-color: #fff;
   overflow: visible;
}

main {
   .head-screen {
      margin-left: 1.33rem;
      .head-screen__triangle {
         display: block;
         position: absolute;
         width: 23.75rem;
         transform: rotate(-90deg);
         top: 7rem;
         right: -5.75rem;
      }
      .head-screen__h1 {
         display: block;
         position: relative;
         margin-top: 2.5rem;
         margin-left: 1.8rem;
         font-size: 3.2rem;
         font-weight: 500;
         line-height: 58%;
         max-height: 6.9rem;
         max-width: 15rem;
         .MyDiary {
            display: block;
            position: relative;
            z-index: 10;
         }
         .head-screen__moon-svg_img {
            position: absolute;
            z-index: 0;
            right: 2.7rem;
            top: -5.65rem;
            width: 13.33rem;
         }
      }
      h4 {
         display: block;
         position: relative;
         z-index: 10;
         margin-top: 3rem;
         width: 15rem;
         letter-spacing: 1px;
         text-align: center;
         color: var(--description-text-color);
         text-transform: capitalize;
         font-weight: normal;
         font-size: 1.4rem;
         line-height: 1.4rem;
      }
      .head-screen__phones {
         .mobile {
            margin: 1.5rem 0 2.5rem 3.25rem;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 0.6667rem;
            width: 8.533rem;
         }
      }
      .head-screen__download-button {
         display: flex;
         position: relative;
         justify-content: center;
         align-items: center;
         margin-left: 1.5rem;
         width: 12rem;
         height: 3rem;
         background-image: radial-gradient(50% 50% at 50% 50%, #F2CD01 0%, var(--main-light-color-second) 100%);;
         border-radius: 2rem;
         box-shadow: 0px 0px 4.8rem var(--main-light-color-second);
         cursor: pointer;
         font-size: 1rem;
         color: #1c1c1c;
         transition: transform .1s;
         i {
            font-size: 1.5rem;
            margin-right: .5rem;
            margin-left: -.1rem;
         }
         span {
            margin-left: .2rem;
         }
      }
   }
   .head-screen::after {
      content: '';
      display: block;
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: 24rem;
      left: 15rem;
      background: linear-gradient(45deg, #F9F047 .05%, #D93FEB 99.95%);
      border-radius: 100px 500px 100px 0px;
   }


   .head-text, .why-we__h3 {
      display: block;
      position: relative;
      z-index: 1;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      letter-spacing: 1px;
   }

   .why-we {
      overflow-x: hidden;
      margin-top: 4.5rem;
      margin-left: 1rem;
      position: relative;
      .why-we__h3 {
         font-size: 2rem;
         margin-left: 1.82rem;
      }
      .why-we__list {
         display: grid;
         grid-template-columns: 1fr;
         margin-top: 3rem;
         margin-left: -1rem;
         grid-row-gap: 3rem;
         li {
            height: 2rem;
            color: var(--description-text-color);
            font-size: 1.2rem;
            padding-left: 5px;
            font-weight: 500;
            i {
               display: inline-block;
               vertical-align: middle;
               font-size: 1.5rem;
               color: var(--main-dark-color-first);
            }
         }
      }
      .why-we__phone {
         position: absolute;
         right: 1rem;
         top: 18.5rem;
         max-width: 205px;
      }
   }

   .why-we::before, .why-we::after {
      content: '';
      display: block;
      position: absolute;
      right: -1.5rem;
      top: 6rem;
      width: 10.2rem;
      height: 6rem;
      background-image: linear-gradient(270deg, var(--main-dark-color-second) 0%, var(--main-light-color-first) 100%);
      border-radius: 100rem 100rem 5rem 5rem;
      transform: rotate(75deg); 
   }
   .why-we::after {
      transform: rotate(-105deg);
      right: -2rem;
      top: 20rem;
   }



   .head-text::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 1px;
      color: var(--invisible-color);
      opacity: 20%;
   }
   .description-text {
      margin-top: 1rem;
      font-style: normal;
      color: var(--description-text-color);
      font-weight: 500;
      line-height: 1.6em;
      letter-spacing: 1px;
      width: 14em;
   }

   .make-and-settings {
      position: relative;
      margin: 3rem 1rem 0;
      padding-left: 1.3rem;
      display: grid;
      grid-template-columns: 1fr;
      .make__head-text {
         height: 4rem;
         width: 19rem;
         margin-bottom: -45px;
      }
      .make__head-text::before {
         content: 'Простота';
         font-size: 3.9rem;
         bottom: 1.52rem;
         right: 1.67rem;
      }
      
      .make__img {
         display: block;
         position: relative;
         margin: 1.75rem 4.55rem 0;
         z-index: 2;
      }
      .make__object-svg {
         display: block;
         position: absolute;
         width: 21.67rem;
         top: 12.5rem;
         left: -0.75rem;
      }
      
      .settings {
         display: flex;
         flex-direction: column;
         .settings__head-text {
            margin-top: 7.5rem;
            margin-bottom: 0;
            width: 18rem;
            height: 2rem;
         }
         .settings__head-text::before {
            content: 'Гибкость';
            font-size: 4.1rem;
            bottom: -.5rem;
            right: .55rem;
         }
         .settings__img {
            position: relative;
            .settings__object-svg {
               display: block;
               position: absolute;
               top: -2rem;
               left: -2rem;
               width: 22rem;
            }
            .settings__img-phone {
               display: block;
               position: relative;
               z-index: 2;
               width: 6.7rem;
               left: 4rem;
            }
         }
      }
   }
   

   



   .possibilities {
      display: grid;
      justify-items:center;
      align-items:center;
      .possibilities__head-text::before {
         content: 'Возможности';
         font-size: 3.1rem;
         right: 0;
         bottom: -.28rem;
      }
      .possibilities__slider {
         display: grid;
         justify-items:center;
         align-items:center;
         position: relative;
         .possibilities__slider-background {
            max-width: 75vw;
            width: 13.5rem;
         }
      }
   }



   .faq {
      margin-top: 2rem;
      .faq__head-text {
         background-image: url(../../img/faq-back.svg);
         margin-left: 1.5rem;
         font-size: 3rem;
         width: 15.633rem;
         height: 13.133rem;
         background-size: contain;
         background-repeat: no-repeat;
         padding-top: 4.2rem;
         padding-left: 3.77rem;
      }
      .faq__head-text::before {
         content: '???';
         font-size: 6rem;
         left: 4.1rem;
         top: 1.7rem;
      }

      .faq__search {
         position: relative;
         width: 10rem;
         top: -6.5rem;
         margin-right: 2rem;
         margin-left: auto;
         height: 1.5rem;
         border: .15rem solid var(--main-light-color-first);
         border-radius: 1rem;
         .faq__search-text {
            display: block;
            position: absolute;
            left: 0 ;
            padding-left: .67rem;
            font-size: .65rem;
            width: calc(100% - 3rem);
            z-index: 10;
            height: 1.25rem;
            border: none;
            background: none;
         }
         .faq__search-text:focus {
            outline: none;
         }
      }


      .faq__list {
         margin-top: -4rem;
         li {
            margin-top: 2rem;
            width: 13.5rem;
            height: 2rem;
            overflow: hidden;
            border: 1px solid var(--main-dark-color-second);
            border-radius: 1rem;
            .faq__list_question {
               margin-top: .4rem;
               white-space: nowrap;
               display: flex;
               flex-wrap: nowrap;
               justify-content: space-around;
               i {
                  margin-left: .3rem;
                  margin-top: .05rem;
                  color: var(--main-dark-color-first);
               }
            }

            .faq__list_answer {
               margin-left: 1rem;
               font-size: 0.625rem;
               color: var(--description-text-color);
            }
         }
         .faq__right {
            margin-left: auto;
            margin-right: 2rem;
         }
      }
   }
}


footer {
   position: relative;
   overflow: hidden;
   .communication {
      border: 1px solid var(--invisible-color);
      background-color: white;
      width: 16.67rem;
      position: relative;
      margin: 0 auto;
      z-index: 1;
      display: flex;
      flex-direction: column;
      .communication__write-menu {
         position: relative;
         z-index: 999;
      }
      .communication__head-text {
         font-size: 1.6rem;
         margin-top: .57rem;
         margin-left: .667rem;
      }
      p {
         font-size: .6rem;
         padding: 0 1.5rem;
         margin-top: -.5rem;
      }
      form {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 16.6rem; // для нижней границы
         border-bottom: 1px solid var(--invisible-color);
         position: relative;
         .communication__input_text {
            margin-left: -1rem;
            padding: .5rem;
            width: 13.33rem;
            border-radius: .3rem;
            z-index: 1;
            font-size: .5rem;
            border: 1px solid var(--invisible-color);
         }
         .communication__input_text:focus {
            outline: none;
         }
         .user-message {
            margin-top: -1.75rem;
            resize: none;
         }
      }

      .communication__write-us {
         position: relative;
         z-index: 999;
      }
      .write-us_text {
         font-size: 1.4rem;
         margin: 2.5rem 0 0 1rem;
      }
      .write-us__media-list {
         margin-left: -.5rem;
         display: flex;
         flex-direction: column;
         .write-us__media-link {
            margin-top: 1rem;
            margin-bottom: .9rem;
            a {
               padding-top: 1.5rem;
            }
         }
      }
   }
   
   .footer__not-circle {
      display: block;
      position: absolute;
      width: 16.67rem;
      bottom: -1.675rem;
   }

   .footer__bottom {
      position: relative;
      height: 1.5rem;
      width: 100vw;
      margin-top: 2rem;
      background-color: #f0f0f0;
      padding: 0 .55rem;
      font-size: .6rem;
      strong {
         padding-right: .33rem;
      }
      .MyDiary_logo {
         position: relative;
         top: .25rem;
      }
      .footer__moon {
         display: block;
         position: absolute;
         bottom: -.75rem;
         left: 6.2rem;
         width: 3rem;
         height: 3rem;
      }
      .footer__bottom_media {
         max-height: inherit;   
         display: flex;
         position: absolute;
         right: .5rem;
         bottom: -.45rem;
         .footer__bottom_vk, .footer__bottom_google-play {
            padding: .5rem;
         }
      }
   }
}

// Круг на фоне
footer::before {
   content: '';
   display: block;
   position: absolute;
   width: 40rem;
   height: 40rem;
   bottom: -18.5rem;
   right: calc(-20rem + 50vw);
   background-image: linear-gradient(180deg, rgba(249, 240, 71, .5) 0%,
         rgba(217, 63, 235, .75) 28.08%, 
         #673BB8 51.35%);
   border-radius: 100%;
   filter: blur(3.5px);
}