@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

:root {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  --main-dark-color-first: #372DA6;
  --main-dark-color-second: #354FC4;
  --main-light-color-first: #D93FEB;
  --main-light-color-second: #F9F047;
  --invisible-color: #dbdbdb;
  --description-text-color: #2f2f2f;
}

html, body {
  overflow-x: hidden;
}

.a, .a:hover, .a:active {
  text-decoration: none;
  color: #000;
}

.btn-link {
  background: none;
  border: none;
  cursor: pointer;
}

.MyDiary_logo {
  width: 1rem;
  height: 1rem;
  border-radius: .15rem;
}

.MyDiary {
  font-family: 'Roboto Condensed', sans-serif;
}

.desktop {
  display: none;
}

img.main-phone {
  width: 8.5rem;
  height: 20rem;
  max-width: 245px;
  max-height: 590px;
}

body {
  color: #000;
  max-width: 100vw;
}

header {
  padding-top: 100px;
  background-image: linear-gradient(135deg, #f9fcff 0%, #dee4ea 100%);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -webkit-transform: translateX(-80vw);
          transform: translateX(-80vw);
  -webkit-box-shadow: .5rem 1vh 1rem -.5rem;
          box-shadow: .5rem 1vh 1rem -.5rem;
  position: fixed;
  top: -2vh;
  left: 0;
  z-index: 99;
  height: 102vh;
  width: 75vw;
}

header .header__head {
  display: block;
  font-size: 2.5rem;
  margin: -1rem 0 1rem 1rem;
}

header .header__head .header_logo {
  width: .7em;
  height: .7em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 1.2rem;
}

header nav .btn-link {
  height: 3.15em;
  width: 13em;
  margin: 0 .75em;
  padding: 1em .625em;
  border-bottom: 1px solid var(--invisible-color);
  border-top: 1px solid var(--invisible-color);
}

header nav .nav__active-link {
  display: block;
  position: absolute;
  width: 13.25em;
  height: 3.15em;
  top: 0;
  left: .5em;
  z-index: -1;
  background: -webkit-gradient(linear, right top, left top, from(rgba(127, 199, 198, 0.35)), to(rgba(127, 199, 198, 0.7)));
  background: linear-gradient(-90deg, rgba(127, 199, 198, 0.35) 0%, rgba(127, 199, 198, 0.7) 100%);
  border-left: .3rem solid #298181;
  -webkit-transition: width .2s 0s, height .2s .2s, top .3s .3s;
  transition: width .2s 0s, height .2s .2s, top .3s .3s;
}

header nav .moonProd {
  font-weight: lighter;
}

header aside {
  display: block;
  position: absolute;
  bottom: 2.5%;
  margin-left: 1rem;
}

header aside .languages:focus {
  outline: none;
}

header aside .header__moonProd {
  display: block;
  position: relative;
  width: 5.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

header aside .header__moonProd img {
  display: block;
  position: absolute;
  right: 0;
  top: -.9rem;
  width: 3.3rem;
  height: 3.3rem;
}

.header-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main .head-screen {
  margin-left: 1.33rem;
}

main .head-screen .head-screen__triangle {
  display: block;
  position: absolute;
  width: 23.75rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 6.25rem;
  right: -5.75rem;
}

main .head-screen .head-screen__h1 {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  margin-left: 1.8rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 58%;
  max-height: 6.9rem;
  max-width: 15rem;
}

main .head-screen .head-screen__moon-svg {
  position: absolute;
  right: 2.7rem;
  top: -5.65rem;
}

main .head-screen .head-screen__moon-svg .head-screen__moon-svg_img {
  width: 13.33rem;
}

main .head-screen h4 {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  width: 15rem;
  letter-spacing: 1px;
  text-align: center;
  color: var(--description-text-color);
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

main .head-screen .head-screen__phone {
  margin-top: 2rem;
  margin-left: 3.25rem;
  margin-bottom: 2.5rem;
}

main .head-screen .head-screen__download-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  width: 12rem;
  height: 3rem;
  background-image: radial-gradient(50% 50% at 50% 50%, #F2CD01 0%, var(--main-light-color-second) 100%);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 4.8rem var(--main-light-color-second);
          box-shadow: 0px 0px 4.8rem var(--main-light-color-second);
  cursor: pointer;
  font-size: 1rem;
  color: #1c1c1c;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

main .head-screen .head-screen__download-button i {
  font-size: 1.5rem;
  margin-right: .5rem;
  margin-left: -.1rem;
}

main .head-screen .head-screen__download-button span {
  margin-left: .2rem;
}

main .head-screen::after {
  content: '';
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 25rem;
  left: 15rem;
  background: linear-gradient(45deg, #F9F047 0.05%, #D93FEB 99.95%);
  border-radius: 100px 500px 100px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .head-text, main .why-we__h3 {
  display: block;
  position: relative;
  z-index: 1;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

main .why-we {
  margin-top: 4.5rem;
  margin-left: 1rem;
  position: relative;
}

main .why-we .why-we__h3 {
  font-size: 1.6rem;
  margin-left: 1.82rem;
}

main .why-we .why-we__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 2rem;
  margin-left: -1rem;
}

main .why-we .why-we__list li {
  padding: 1.75rem 0;
  margin-top: .75rem;
}

main .why-we .why-we__list li span {
  font-size: 1rem;
  color: var(--main-dark-color-first);
}

main .why-we .why-we__list li .why-we__list_link {
  color: var(--description-text-color);
  font-size: 1.2rem;
  padding-left: 5px;
  font-weight: 500;
}

main .why-we .why-we__phone {
  position: absolute;
  right: 1rem;
  top: 18.5rem;
  max-width: 205px;
}

main .why-we::before {
  content: '';
  display: block;
  position: absolute;
  right: -4rem;
  top: 4.25rem;
  width: 16rem;
  height: 8rem;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--main-dark-color-second)), to(var(--main-light-color-first)));
  background-image: linear-gradient(270deg, var(--main-dark-color-second) 0%, var(--main-light-color-first) 100%);
  border-radius: 100rem 100rem 5rem 5rem;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

main .head-text::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--invisible-color);
  opacity: 20%;
}

main .description-text {
  margin-top: 1rem;
  font-style: normal;
  color: var(--description-text-color);
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 1px;
  width: 14rem;
}

main .make-and-settings {
  position: relative;
  margin: 3rem 1rem 0;
  padding-left: 1.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .make-and-settings .make__head-text {
  height: 4rem;
  width: 19rem;
  margin-bottom: -45px;
}

main .make-and-settings .make__head-text::before {
  content: 'Простота';
  font-size: 3.9rem;
  bottom: 1.52rem;
  right: 1.67rem;
}

main .make-and-settings .make__img {
  display: block;
  position: relative;
  margin: 1.75rem 4.55rem 0;
  z-index: 2;
}

main .make-and-settings .make__object-svg {
  display: block;
  position: absolute;
  width: 21.67rem;
  top: 12.5rem;
  left: -0.75rem;
}

main .make-and-settings .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .make-and-settings .settings .settings__head-text {
  margin-top: 7rem;
  margin-bottom: 0;
  width: 18rem;
  height: 2rem;
}

main .make-and-settings .settings .settings__head-text::before {
  content: 'Гибкость';
  font-size: 4.1rem;
  bottom: -.5rem;
  right: .55rem;
}

main .make-and-settings .settings .settings__img {
  position: relative;
}

main .make-and-settings .settings .settings__img .settings__object-svg {
  display: block;
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 22rem;
}

main .make-and-settings .settings .settings__img .settings__img-phone {
  display: block;
  position: relative;
  z-index: 2;
  width: 6.7rem;
  left: 4rem;
}

main .interface {
  margin-top: 4rem;
  margin-left: 1rem;
  position: relative;
}

main .interface .interface__head-text {
  font-size: 1.7rem;
  margin: 0 auto;
  width: 21rem;
}

main .interface .interface__head-text::before {
  content: 'Практичность';
  font-size: 3rem;
  right: .68rem;
  bottom: -.28rem;
}

main .interface .interface__features {
  font-size: .87rem;
  margin: 2.3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .interface .interface__features li {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 45, 166, 0.85)), to(var(--main-dark-color-first)));
  background: linear-gradient(180deg, rgba(55, 45, 166, 0.85) 0%, var(--main-dark-color-first) 100%);
  border-radius: 0px 3.2rem 1.6rem;
  -webkit-box-shadow: 0 0 20px 2px var(--invisible-color);
          box-shadow: 0 0 20px 2px var(--invisible-color);
  margin: 0 1em 3.5em;
  height: 16.57em;
  width: 10.57em;
  position: relative;
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

main .interface .interface__features li .feature__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.73em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .interface .interface__features li .feature__img img {
  display: block;
  position: absolute;
  height: 5.2em;
}

main .interface .interface__features li .diary-img img {
  height: 6.5em;
}

main .interface .interface__features li .diary-img::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 2.9em;
  border-bottom: .4rem solid #fff;
  border-radius: 1rem;
  width: 8.65em;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

main .interface .interface__features li .feature__img::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 6.9em;
  border-bottom: 1px solid var(--invisible-color);
  width: 10.54em;
}

main .interface .interface__features li .list-img {
  margin-left: -.77em;
}

main .interface .interface__features li .watch-img {
  margin-left: .77em;
  margin-top: 2.3em;
  margin-bottom: -15px;
}

main .interface .interface__features li .list-img::after, main .interface .interface__features li .watch-img::after {
  margin-left: .38em;
}

main .interface .interface__features li .watch-img::after {
  margin-left: -.38em;
}

main .interface .interface__features li .watch-img::after {
  margin-top: 6.34em;
}

main .interface .interface__features li p {
  margin-left: 1.6em;
  width: 7.85em;
  color: #fff;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 1px;
}

main .interface .interface__features li .feature__visible-text {
  margin-top: 8em;
  margin-bottom: 2.3em;
}

main .interface .interface__features li .feature__text_more-right, main .interface .interface__features li .feature__text_more-right-and-down {
  margin-left: 2em;
}

main .interface .interface__features li .feature__text_more-right-and-down {
  margin-top: 8.35em;
}

main .possibilities {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .possibilities .possibilities__head-text::before {
  content: 'Возможности';
  font-size: 3.1rem;
  right: 0;
  bottom: -.28rem;
}

main .possibilities .possibilities__slider {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .possibilities .possibilities__slider .possibilities__slider-background {
  max-width: 75vw;
  width: 13.5rem;
}

main .faq {
  margin-top: 2rem;
}

main .faq .faq__head-text {
  background-image: url(../../img/faq-back.svg);
  margin-left: 1.5rem;
  font-size: 3rem;
  width: 15.633rem;
  height: 13.133rem;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 4.2rem;
  padding-left: 3.77rem;
}

main .faq .faq__head-text::before {
  content: '???';
  font-size: 6rem;
  left: 4.1rem;
  top: 1.7rem;
}

main .faq .faq__search {
  position: relative;
  width: 10rem;
  top: -6.5rem;
  margin-right: 2rem;
  margin-left: auto;
  height: 1.5rem;
  border: 0.15rem solid var(--main-light-color-first);
  border-radius: 1rem;
}

main .faq .faq__search .faq__search-text {
  display: block;
  position: absolute;
  left: 0;
  padding-left: .67rem;
  font-size: .65rem;
  width: calc(100% - 3rem);
  height: 1.25rem;
  border: none;
  background: none;
}

main .faq .faq__search .faq__search-text:focus {
  outline: none;
}

main .faq .faq__list {
  margin-top: -4rem;
}

main .faq .faq__list li {
  margin-top: 2rem;
  width: 13.5rem;
  height: 2rem;
  overflow: hidden;
  border: 1px solid var(--main-dark-color-second);
  border-radius: 1rem;
}

main .faq .faq__list li .faq__list_question {
  margin-top: .4rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .faq .faq__list li .faq__list_question i {
  margin-left: .3rem;
  margin-top: .05rem;
  color: var(--main-dark-color-first);
}

main .faq .faq__list .faq__right {
  margin-left: auto;
  margin-right: 2rem;
}

footer {
  position: relative;
  overflow: hidden;
}

footer .communication {
  border: 1px solid var(--invisible-color);
  background-color: white;
  width: 16.67rem;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .communication .communication__write-menu {
  position: relative;
  z-index: 999;
}

footer .communication .communication__head-text {
  font-size: 1.6rem;
  margin-top: .57rem;
  margin-left: .667rem;
}

footer .communication p {
  font-size: .6rem;
  padding: 0 1.5rem;
  margin-top: -.5rem;
}

footer .communication form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.6rem;
  border-bottom: 1px solid var(--invisible-color);
  position: relative;
}

footer .communication form .communication__input_text {
  margin-left: -1rem;
  padding: .5rem;
  width: 13.33rem;
  border-radius: .3rem;
  z-index: 1;
  font-size: .5rem;
  border: 1px solid var(--invisible-color);
}

footer .communication form .communication__input_text:focus {
  outline: none;
}

footer .communication form .user-message {
  margin-top: -1.75rem;
  resize: none;
}

footer .communication .communication__write-us {
  position: relative;
  z-index: 999;
}

footer .communication .write-us_text {
  font-size: 1.4rem;
  margin: 2.5rem 0 0 1rem;
}

footer .communication .write-us__media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .communication .write-us__media-list .write-us__media-link {
  margin-top: 1rem;
  margin-bottom: .9rem;
}

footer .communication .write-us__media-list .write-us__media-link a {
  padding-top: 1.5rem;
}

footer .footer__bottom {
  position: relative;
  height: 1.5rem;
  width: 100vw;
  margin-top: 1.3rem;
  background-color: #f0f0f0;
  padding: 0 .55rem;
  font-size: .6rem;
}

footer .footer__bottom strong {
  padding-right: .33rem;
}

footer .footer__bottom .my-diary_logo {
  position: relative;
  top: .25rem;
}

footer .footer__bottom .footer__moon {
  display: block;
  position: absolute;
  bottom: -.75rem;
  left: 6.4rem;
  width: 3rem;
  height: 3rem;
}

footer .footer__bottom .footer__bottom_media {
  max-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: .5rem;
  bottom: -.45rem;
}

footer .footer__bottom .footer__bottom_media .footer__bottom_vk, footer .footer__bottom .footer__bottom_media .footer__bottom_google-play {
  padding: .5rem;
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  width: 40rem;
  height: 40rem;
  bottom: -18.5rem;
  right: calc(-20rem + 50vw);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 240, 71, 0.5)), color-stop(28.08%, rgba(217, 63, 235, 0.75)), color-stop(51.35%, #673BB8));
  background-image: linear-gradient(180deg, rgba(249, 240, 71, 0.5) 0%, rgba(217, 63, 235, 0.75) 28.08%, #673BB8 51.35%);
  border-radius: 100%;
  -webkit-filter: blur(3.5px);
          filter: blur(3.5px);
}
/*# sourceMappingURL=mobile-styles.css.map */