// В медиа-запросах используются 
// более подробные названия 
// для перекрытия основных стилей
@media (max-width: 690px) {
    html {
        font-size: 24px;
    }

    .phone {
        right: 0;
    }

    footer > div.footer__bottom > p > a > img.footer__moon {
        bottom: -0.26rem;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 18px;
    }
    main .head-screen .head-screen__triangle {
        top: 6rem;
        width: 20rem;
        right: -5rem;
    }

    main .head-screen::after {
        width: 7.5rem;
        height: 7.5rem;
        top: 26rem;
    }

    main>.why-we>.why-we__list {
        margin-left: -2rem;
    }

    div.why-we__semicircle-top {
        transform: rotate(-75deg) scale(.75);
        right: .8rem;
    }
    div.why-we__semicircle-bottom {
        transform: rotate(105deg) scale(.75);
    }

    footer .footer__bottom .footer__bottom_media {
        bottom: -0.6rem;

        .footer__bottom_vk,
        .footer__bottom_google-play {
            transform: scale(0.75);
            padding: 0.35rem;
        }
    }
}



@media (max-width: 400px) {
    html {
        font-size: 15px;
    }

    footer .footer__bottom span.footer__bottom_media {
        bottom: -0.38rem;

        .footer__bottom_vk,
        .footer__bottom_google-play {
            transform: scale(0.6);
            padding: 0;
        }
    }
}


@media (min-width: 850px) {
    html {
        font-size: 36px;
    }
}